/* Selectores de CSS
----> .clase
----> #id
----> body */

body {
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /*Suavizado y control de fuentes*/
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialised;
    -moz-osx-font-smoothing: antialised;

}

#header {
    border-bottom: 1px solid #ccc;
    height: 120px;
    width: 100%;
    background: white;
    border-top: 3px solid #61dafb;
}

.center {
    width: 75%;
    margin: 0px auto;
}

#logo {
    width: 30%;
    font-size: 30px;
    float: left;
}

#logo img {
    display: block;
    float: left;
    height: 60px;
}

#brand {
    display: block;
    margin: 0px;
    float: left;

}