<!--Formulario de nuevo articulo-->

<div class="center">
    <section id="content">

        <h1 class="subheader">Crear articulo</h1>


        <form class="mid-form" #articleForm="ngForm" id="contacto" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="title">Titulo</label>
                <input type="text" name="title" #title="ngModel" [(ngModel)] = "article.title" required />

                <small *ngIf="!title.valid && title.touched">
                    El titulo no es válido
                </small>
            </div>

            <div class="form-group">
                <label for="content">Contenido</label>
                <textarea name="content" #content="ngModel" [(ngModel)] = "article.content" required></textarea>

                <small *ngIf="!content.valid && content.touched">
                    El articulo está vacío
                </small>
            </div>

            <div class="form-group">
                <!--modulo de subida de imagenes-->
                <angular-file-uploader
                   [config]="afuConfig"
                   (ApiResponse)="imageUpload($event)">
                </angular-file-uploader>
            </div>

            <div class="clearfix"></div>

            <input type="submit" value="Enviar" class="btn-success-form" [disabled]="articleForm.invalid" />

        </form>


    </section>
    <!--Añadimos el componente del sidebar-->
    <app-sidebar></app-sidebar>
</div>