<article class="article-item" >
    <div class="image-wrap">
        <img src="{{pelicula.image}}" alt="{{pelicula.title}}" title="Poster" />

    </div>

    <h2>{{pelicula.title}}</h2>
    <span class="date">
        Hace 5 minutos
    </span>

    <!--Directiva de estilo [style]: Cambiamos el estilo del atributo dependiendo de su valor-->
    <span class="year" [ngClass]="{
                'year-green': pelicula.year > 1990,
                'year-red': pelicula.year <= 1990
            }">
        {{pelicula.year}}
    </span>

    <a href="#">Leer más</a>

    <div id="clearfix"></div>
</article>