<app-header></app-header>
<app-slider></app-slider>

<div class="center">
    <section id="content">
        <!--Directiva especial para incorporar las rutas a la aplicación-->
        <!--Si router-outlet detecta que tenemos la ruta 'blog' cargada, cargará el componente
        asociado a esa ruta, cargando la instancia de este componente dentro de la etiqueta -->
        <router-outlet></router-outlet>
    </section>
    <!--Añadimos el componente del sidebar-->
    <app-sidebar></app-sidebar>
</div>

<app-footer></app-footer>