<!--App: Dejamos lo básico-->

<app-header></app-header>
<!---Pasamos unos datos del componente padre (la app) al componente hijo (los sliders)

        <!--Directiva especial para incorporar las rutas a la aplicación-->
        <!--Si router-outlet detecta que tenemos la ruta 'blog' cargada, cargará el componente
        asociado a esa ruta, cargando la instancia de este componente dentro de la etiqueta -->
        <!---En el router tenemos el contenido central cargado desde sus componentes-->
        <router-outlet></router-outlet>

<app-footer></app-footer>