<!---con la propriedad de input-->
<app-slider [nombre]="'Peliculas'"
[size] = "'small'">

</app-slider>

<div class="center">
    <section id="content">

        <h1 class="subheader">Películas</h1>

        <!-----
        <h2>{{titulo}}</h2>
        <button (click)="cambiarTitulo()">Púlsame</button>

        <hr />

        <h2>Mostrar primera película</h2>
        {{peliculas[0].title}}

        <hr />

        Directiva: Atributo que se le pone a un HTML para añadirle funcionalidad adicional
        <div *ngIf="peliculas.length <= 3">
            Hay pocas películas:
        </div>

        <div *ngIf="peliculas.length > 3">
            Hay muchas películas:
        </div>

        {{peliculas.length}}

        <hr />-->

        <!--Mostrar las películas-->
        <!--Directiva de mostrar peliculas *ngIf, si existe peliculas se muestra--


        <h2 class="subheader">Listado de películas</h2>-->

        <div id="articles" *ngIf="peliculas">
            <!--últimos articulos: listado-->
            <!--ngFor: Directiva estructural para recorrer un array-->
            <!--Por cada iteracion al array de peliculas creame un elemento pelicula-->
            <!--Llamamos al componente de película-->
            <div *ngFor="let pelicula of peliculas; let i = index;">
                <app-pelicula
                    [pelicula] = "pelicula"
                ></app-pelicula>
            </div>
            
        </div>

    </section>
    <!--Añadimos el componente del sidebar-->
    <app-sidebar></app-sidebar>
</div>