<!--HTML de los articulos-->

<!--Div para efecto de cargando-->
<div class="loading" *ngIf = "!articles">
    <h3 class="subheader">Cargando ...</h3>
</div>

<!--si en search no se devuelven resultados-->
<div class="loading" *ngIf = "articles && articles.length == 0">
    <h3 class="subheader">No hay articulos para mostrar</h3>
</div>

<div id="articles"  *ngIf = "articles">
    <!--últimos articulos: listado-->
       <article class="article-item" id="article-template" *ngFor = "let article of articles">
           <div class="image-wrap">
            <!--Url de la imagen: usamos getImage del backend-->
           <img src="{{url + 'get' + article.image}}" alt="{{article.title}}" title="Cuentame" *ngIf = "article.image"/>
           <!--cuando no exista la imagen del articulo, mandamos la de por defecto-->
           <img src="assets/images/default.jpg" alt="{{article.title}}" title="Cuentame" *ngIf = "!article.image"/>

           </div>

           <h2>{{article.title}}</h2>
           <span class="date">{{article.date | amLocale: 'es' | amTimeAgo }}</span>
           <!--Usamos el enlace con routerLink-->
           <a [routerLink]="['/blog/articulo', article._id ]">Leer más</a>

           <div id="clearfix"></div>
           </article>
           <!--Se añaden artículos con JS-->
   </div>